# Ignore all virtual envs
.venv/
venv/

# Ignore Jupyter and Python cache
.ipynb_checkpoints/
__pycache__/
*_cache

# macOS trash
.DS_Store

# Custom dirs
asruns/

# Ignore all raw data
data/raw/

# (Optional) Specifically exclude a file if needed
# !data/raw/README.md
